@import '../base/typography';

.single-line-form {
  line-height: 41px;
  width: 100%;
  max-width: 770px;
  margin: 0 auto;
  font-family: $font-title;
  font-size: 14px;
  position: relative;
  input {
    width: 100%;
    font-weight: 700;
    border: none;
    color: #000;
    padding: 0 5px 0 5px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 5px;
  }
  input::-webkit-input-placeholder{
    color: #717171;
    font-weight: 400;
    text-transform: uppercase;
  }
  button {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    color: #fff;
    font-weight: 700;
    padding: 0 35px;
    background: #e7434e;
    text-transform: uppercase;
    border-radius: 0 5px 5px 0;
  }
  @media (max-width: 594px) {
    button {
      padding: 0 10px 0 10px !important;
    }
  }
}


