@import '../base/typography';
@import '../themes/theme';

.clearfix:before, .clearfix:after {
  content: '';
  display: table;
}

h1,.title {
  margin-top: 150px;
  text-align: center;
  color: $font-color-base-title;
  font-family: $font-title;
  font-size: 72px;
  font-weight: 700;
  text-transform: uppercase;

}

h2,.signature {
  margin-top: 12px;
  font-family: $font-text;
  text-align: center;
  color: $font-color-base-title;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.title-section {
  h3 {
    color: #343435;
    font-family: $font-title;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 93px;
    text-align: center;
  }
  h4{
    color: #717171;
    font-family: $font-text ;
    font-size: 16px;
    font-weight: 400;
    margin-top: 18px;
    text-align: center;
  }
}
//.descr {
//  color: #585858;
//  font-size: 14px;
//  font-weight: 400;
//  line-height: 1.5;
//}
//

